## Auth Service:
KEYCLOAK_PUBLIC_KEYS_URL="https://{KEYCLOAK-SERVER}/auth/realms/{REALM}/protocol/openid-connect/certs"

## Web Service:
APP_HOST={STAC-Server}.com

## Traefik Service:
TRAEFIK_IMAGE_TAG=traefik:3.0.0
TRAEFIK_LOG_LEVEL=WARN
TRAEFIK_ACME_EMAIL={MAIL}@{DOMAIN}.com